<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pengiun Classifier</title>
    <link rel="icon" href="{{ url_for('static', filename='penguin_icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,400;0,500;0,800;1,100&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="header">
            <img id="logo" src="/static/penguin_icon.png" alt="icon">
            <h1 id="mainTitle">
                Penguin Classifier
            </h1>
        </div>
        <div id="main_content">
            <div id="content_text">
                <p id="content_title">Classifier</p>
                <p id="content_description">Input the measurments taken from a penguin and press the "Classify" button. The model will predict which species the penguin belongs to.</p>
            </div>
            <div id="measurments">
                <p id="measurment_title">Measurments input</p>
                    <form id="myForm">
                        <div id="options">
                            <div>
                                <label for="island">Island</label>
                                <select name="island" id="island">
                                    <option value="Biscoe">Biscoe</option>
                                    <option value="Dream">Dream</option>
                                    <option value="Torgersen">Torgersen</option>
                                </select>
                            </div>
                            <div>
                                <label for="culmen_l">Culmen lenght (mm)</label>
                                <input type="text" id="culmen_l" placeholder="Enter length">
                            </div>
                            <div>
                                <label for="culmen_d">Culmen depth (mm)</label>
                                <input type="text" id="culmen_d" placeholder="Enter depth">
                            </div>
                            <div>
                                <label for="flipper">Flipper lenght (mm)</label>
                                <input type="text" id="flipper" placeholder="Enter flipper length">
                            </div>
                            <div>
                                <label for="mass">Mass (g)</label>
                                <input type="text" id="mass" placeholder="Enter mass">
                            </div>
                            <div>
                                <label for="sex">Sex</label>
                                <select name="sex" id="sex">
                                    <option value="MALE">Male</option>
                                    <option value="FEMALE">Female</option>
                                    <option value="NA">NA</option>
                                </select>
                            </div>
                        </div>
                        <button type="button" onclick="submitForm()">Submit</button>
                    </form>
                    <div id="resultContainer"></div>
                    <script>
                        function submitForm(){
                            var island_Val = document.getElementById('island').value;
                            var culmen_l_Val = document.getElementById('culmen_l').value;
                            var culmen_d_Val = document.getElementById('culmen_d').value;
                            var flipper_Val = document.getElementById('flipper').value;
                            var mass_Val = document.getElementById('mass').value;
                            var sex_Val = document.getElementById('sex').value;

                            var inputData = {
                                Inputs: {
                                    data: [
                                        {
                                            island: island_Val,
                                            culmen_length_mm: culmen_l_Val,
                                            culmen_depth_mm: culmen_d_Val,
                                            flipper_length_mm: flipper_Val,
                                            body_mass_g: mass_Val,
                                            sex: sex_Val
                                        }
                                    ]
                                },
                                GlobalParameters: {
                                    method: 'predict'
                                }
                             };
                             
                            fetch('/submit_form',{
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(inputData)
                            })
                            .then(response => response.json())
                            .then(data => {
                                document.getElementById('resultContainer').innerHTML = JSON.stringify(data, null, 2);
                            })
                            .catch(error => {
                                console.error('Error: ', error)
                            })
                        }
                    </script>
            </div>
        </div>
        <div id="footer">
            <p>Lorem ipsum</p>
        </div>
    </div>
</body>
</html>